.exp{
	background: purple;
	min-height: 50vh;
	padding-top:150px;
	padding-bottom:150px;
}

.white-text{
	color: white;
}

.line{
	width: 100px;
}

h2{
	text-transform: uppercase;
}

img{
	max-width: 100%;
}

.teamWrapp{
	border: 1px solid white;
}

.textWrapp{
	padding-top: 10px;
	padding-bottom:10px;
}